<!DOCTYPE html>
<html>

<head>
    <title>Bora Finance</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/api/css">
    <link rel="shortcut icon" type="image/x-icon" href="/api/logo">
</head>

<body>
    <header>
        <div>
            <image style="width:150px" id="logo" src="/api/logo" }}>
            <h1>Bora Finance </h1>
        </div>
        <div>
            <h4>Location Independent Tokenized Property Investments</h2>
        </div>
    </header>

    {{ if not . }}
    <div>
        <h3>Tokenize a Property</h3>

        <form enctype="multipart/form-data" action="/api/submitProperty" method="POST">
            <div>
                <div>
                    <label for="tokenName">Token name</label>
                    <input id="tokenName" name="tokenName" type="text" value="BoraMansion">
                </div>
                <div>
                    <label for="address">Address of the property to list</label>
                    <input id="address" name="address" type="text" value="Waterfront, Cape Town">
                </div>
                <div>
                    <label for="owner">Owner of the property to list</label>
                    <input id="owner" name="owner" type="text" value="Fanna,Brad,Hilgard">
                </div>
                <div>
                    <label for="yield">Rental yield %</label>
                    <input id="yield" name="yield" type="number" value=8>
                </div>
                <!-- value to be set on activation -->
                <!-- <div>
                    <label for="value">Value of the property to list</label>
                    <input id="value" name="value" type="number" value=1000000>
                </div> -->
                <div>
                    <label for="numTokens">Number tokens to issue</label>
                    <input id="numTokens" name="numTokens" type="number" value=1000>
                </div>
                <div>
                    <label for="picture">Picture</label>
                    <input id="picture" name="picture" type="file">
                </div>
            </div>
            <button type="submit" name="action">List Property</button>
        </form>
    </div>
    {{ end }}

    {{ if . }}
    <div>
        <h3>Tokenized Property</h3>
            {{ range . }}
            <div>
                <!-- todo fix dymanic -->
                <!-- <image style="width:150px" id="propPreview" src={{ .PictureUrl }}> -->
                <image style="width:150px" id="propPreview" src="/api/images" }}>
                <ul>
                    <li>Token name: {{ .TokenName }}</li>
                    <li>Property address: {{ .Address }}</li>
                    <li>Owner(s): {{ .Owners }}</li>
                    <li>Annual yield %: {{ .ExpectedYield }}</li>
                    <li>Price per token: {{ .TokenPrice }}</li>
                    <li>Number of tokens: {{ .NumTokens }}</li>
                    <li>Number of tokens sold: {{ .TokensSold }}</li>
                </ul>
            </div>
            {{ end }}
    </div>
    {{ end }}

    {{ if . }}
    <div>
        <h3>Buyer Space</h3>
        <form enctype="multipart/form-data" action="/api/buy" method="POST">
            <div>
                <!-- <div>
                    <label for="tokenName">Token name</label>
                    <input id="tokenName" name="tokenName" type="text" value="BoraMansion">
                </div> -->
                <div>
                    <label for="buyAmount">Amount of tokens to buy</label>
                    <input id="buyAmount" name="buyAmount" type="number" value="100">
                </div>
                <!-- <div>
                    <label for="buyer">Buyer Number</label>
                    <input id="buyer" name="buyer" type="number" value="2">
                </div> -->
            </div>
            <button type="submit" name="action">Buy</button>
        </form>
    </div>
    {{ end }}

    {{ if . }}
    <div>
        <h3>Seller Space</h3>
        {{ range .}}
            {{ if eq .TokenPrice 0}}
            <div>
                <h5>Set Price Per Token</h5>
                <form enctype="multipart/form-data" action="/api/listProperty" method="POST">
                    <div>
                        <label for="amount">Amount</label>
                        <input id="listAmount" name="amount" type="number" value=100>
                    </div>
                    <button type="submit" name="action">Set Price</button>
                </form>
            </div>
            {{ end }}
            {{ if gt .TokenPrice 0 }}
            <div>
                <h5>Available Funds: <b id="fundAmount">{{ .SellerFunds }}</b></h5>
            </div>
            <div>
                <h5>Withdraw Funds</h5>
                <form enctype="multipart/form-data" action="/api/withdrawFunds" method="POST">
                    <div>
                        <div>
                            <label for="tokenName">Token name</label>
                            <input id="tokenName" name="tokenName" type="text" value="BoraMansion">
                        </div>
                        <div>
                            <label for="withdrawAmount">Amount</label>
                            <input id="withdrawAmount" name="withdrawAmount" type="number" value="100">
                        </div>
                    </div>
                    <button type="submit" name="action">Withdraw Funds</button>
                </form>
            </div>
            <div>
                <h5>Withdraw Tokens</h5>
                <form enctype="multipart/form-data" action="/api/withdrawTokens" method="POST">
                    <div>
                        <div>
                            <label for="tokenName">Token name</label>
                            <input id="tokenName" name="tokenName" type="text" value="BoraMansion">
                        </div>
                        <div>
                            <label for="withdrawAmount">Amount</label>
                            <input id="withdrawAmount" name="withdrawAmount" type="number" value="100">
                        </div>
                    </div>
                    <button type="submit" name="action">Withdraw Tokens</button>
                </form>
            </div>
            <div>
                <h5>Close</h5>
                <form enctype="multipart/form-data" action="/api/close" method="POST">
                    <button type="submit" name="action">Close</button>
                </form>
            </div>
            {{ end }}
        {{ end }}
    </div>
    {{ end }}
</body>
<script>
</script>

</html>